body {
  margin: 0;
  font-family: "Steradian TRIAL", sans-serif;
  background: #f8f8f8;
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: white;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
}

.logo span {
  color: blue;
}

.nav-links {
  margin-left: -10%;
  display: flex;
  align-items: center;
  gap: 25%;
  color: black;
}

.auth-links {
  display: flex;
  gap: 10px;
}

.login-button {
  background: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #2559d2;
}

.login-button a {
  color: #2559d2;
  text-decoration: none;
}

.register-button {
  background: #2559d2;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #2559d2;
}

.register-button a {
  color: white;
  text-decoration: none;
}

.odjavi-se{
  background: #2559d2;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #2559d2;
  color: #f8f8f8;
}

.odjavi-se a{
  color: #f8f8f8;
  text-decoration: none;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background: white;
  margin: 5px;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #2559d2;
  text-align: center;
  padding: 10px 0;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.show-menu {
  display: flex;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.text-content {
  max-width: 550px;
  text-align: left;
}

.text-content h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.text-content h1 span {
  color: #2559d2;
}

.text-content p {
  font-size: 20px;
  color: #d9d9d9;
  margin-bottom: 30px;
}

.text-content .btn {
  display: inline-block;
  background: #2559d2;
  color: #f8f8f8;
  padding: 20px 40px;
  font-size: 24px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom: 20px;
}

.text-content .stats {
  font-size: 14px;
  color: #d9d9d9;
  margin-top: 10px;
}

.image-content img {
  max-width: 100%;
  height: auto;
}

.quiz-section {
  max-width: 1200px;
  margin: 45px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

.quiz-text {
  flex: 1;
}

.quiz-text h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.quiz-text p {
  font-size: 20px;
  color: #d9d9d9;
  max-width: 6 50px;
}

.quiz-button {
  flex-shrink: 0;
}

.start-quiz {
  padding: 18px 35px;
  background: #ffff;
  color: #2559d2;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  text-decoration: none;
}

.quiz-cards {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 10px;
  padding: 0 50px;
}

.card {
  position: relative;
  width: 32%;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.card-content h3 {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
}

.card-content p {
  font-size: 16px;
  margin-top: 5px;
}

.card-arrow {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.leaderboard-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: white;
}

.leaderboard-container {
  background: #2559d2;
  color: white;
  text-align: center;
  padding: 40px;
  border-radius: 15px;
  width: 60vw;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.leaderboard-container h2 {
  font-size: 28px;
  font-weight: bold;
}

.leaderboard-container p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #ffffff99;
}

.start-quiz {
  background: white;
  color: #2559d2;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.leaderboard {
  background: transparent;
  border-radius: 10px;
  padding: 20px 0;
}

.leaderboard-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  color: black;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.leaderboard-item:last-child {
  margin-top: 30px;
}

.rank {
  padding: 0;
  background: none;
  border-radius: 0;
  font-weight: bold;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  margin-right: 10px;
}

.name {
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.quiz-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  text-align: left;
}

.modal-content h2 {
  margin-top: 0;
  color: #2559d2;
}

.modal-content ul {
  list-style: disc;
  padding-left: 20px;
}

.modal-content button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #2559d2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#closeModal {
  background: #aaa;
  margin-left: 10px;
}






/* RESPONSIV */

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .auth-links .register-button{
    display: none;
  }

  .quiz-text {
    text-align: center;
    padding: 1.25rem;
  }

  .quiz-button {
    display: none;
  }

  .quiz-text h2 {
    font-size: 26px;
  }

  .container {
    flex-direction: row;
    text-align: center;
    display: flex;
  }

  .text-content h1 {
    font-size: 26px;
  }

  .quiz-cards {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 90%;
  }

  .leaderboard {
    padding: 10px;
    margin: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: row;
    text-align: center;
    padding: 20px;
    padding-top: 2.3rem;
  }
  .nav-links {
    display: none;
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    height: calc(100vh - 114px);
  }

  .text-content {
    display: inline-flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .text-content .btn {
    display: inline-flex;
    flex-direction: column;
    font-size: 16px;
  }

  .card {
    width: 100%;
  }

  .leaderboard-item {
    text-align: center;
  }
}